<div>
    <label for="name1">First Name (Guest 1)</label>
    <input type="text" id="name1" name="name1" required>
</div>
<div>
    <label for="surname1">Last Name (Guest 1)</label>
    <input type="text" id="surname1" name="surname1" required>
</div>
<div>
    <label for="name2">First Name (Guest 2)</label>
    <input type="text" id="name2" name="name2" required>
</div>
<div>
    <label for="surname2">Last Name (Guest 2)</label>
    <input type="text" id="surname2" name="surname2" required>
</div>
<div>
    <label for="guest_id">Guest ID</label>
    <input type="text" id="couple_guest_id" name="couple_guest_id" required>
</div>
<div>
    <input type="text" id="couple_table_number" name="couple_table_number" required>
</div>
<button type="button" class="btn btn-primary" onclick="submitCoupleRegistration()">Register Couple</button>