<div>
    <label for="name">First Name</label>
    <input type="text" id="name" name="name" required>
</div>
<div>
    <label for="surname">Last Name</label>
    <input type="text" id="surname" name="surname" required>
</div>
<div>
    <label for="guest_id">Guest ID</label>
    <input type="text" id="guest_id" name="guest_id" required>
</div>
<div>
    <input type="text" id="table_number" name="table_number" required>
</div>
<button type="button" class="btn btn-primary" onclick="submitGuestRegistration()">Register</button>